<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Patient Directory</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

<div class="container">

    <form th:action="@{/logout}" method="POST">

        <input type="submit" value="Logout" class="logout"/>
    </form>

    <h3>Patient Directory</h3>
    <hr>
    <a th:href="@{/patients/showFormForAdd}" class="btn btn-primary btn-sm mb-3">Add Patient</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone No</th>
            <th>Appointments</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempPatient : ${patients}">

            <td th:text="${tempPatient.firstName}" />
            <td th:text="${tempPatient.lastName}" />
            <td th:text="${tempPatient.phoneNo}" />


            <td>


                <th:block th:if="${tempPatient.appointments}!=null">
                    <a th:href="@{/patients/showAppointments(appointments=${tempPatient.appointments})}">
                        View Appointments
                    </a>
                </th:block>

            </td>

            <div sec:authorize="hasRole('ADMIN')">
            <td>
                <a th:href="@{/patients/showFormForUpdate(patientId=${tempPatient.id})}"
                   class="btn btn-info btn-sm">
                    Update
                </a>
                |
                <a th:href="@{/patients/delete(patientId=${tempPatient.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are u sure?'))) return false;">
                    Delete
                </a>
            </td>
            </div>

        </tr>
        </tbody>
    </table>

</div>
</body>
</html>



